<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Анкета по социолингвистике</title>
	<h1>Спасибо, что учствуете в нашем опросе!</h1>
	<h2>Дальше Вам будет предложено несколько вопросов с пропусками. Ваша задача - вставить слово, указанное в скобочках в нужной форме в пропуск.</h2>
</head>
<body>
<form method="POST">
	<div>
		<label for="five">Пять _____ (носок) </label>
		<input name="five" />
	</div>
	<div>
		<label for="six">Шесть _____ (чулок) </label>
		<input name="six" />
	</div>
	<div>
		<label for="seven">Семь _____ (колготки) </label>
		<input name="seven" />
	</div>
	<div>
		<label for="eight">Восемь _____ (джинсы) </label>
		<input name="eight" />
	</div>
	<div>
		<label for="nine">Девять _____ (килограмм) </label>
		<input name="nine" />
	</div>
	<br>
	<div>
		<p>Ваш пол:</p>
		<input type="radio" name="sex" value="f">Ж<Br>
		<input type="radio" name="sex" value="m">М<Br>
	</div>
	<div>
		<label for="age">Ваш возраст: </label>
		<input name="age" />
	</div>
	<div>
		<label for="town">Ваш город: </label>
		<input name="town" />
	</div>
	<div>
		<button type="submit">SUBMIT</button>
	</div>
</form>
</body>
</html>