<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Поиск по результатам социолингвистического исследования про склонения форм слова</title>
</head>
<body>
<form method="POST">
	<div>
		<h2>Данный поиск позволяет понять, сколько людей ответили на тот или иной вопрос конкретной формой. Например, вы можете узнать, сколько человек сказало "носок", а сколько "носков"</h2>
		<h4>Напомним, какие вопросы мы Вам задавали:</h4>
		<p>Пять (носок)</p>
		<p>Шесть (чулок)</p>
		<p>Семь (колготки)</p>
		<p>Восемь(джинсы)</p>
		<p>Девять (килограмм)</p>
		<h4>Теперь Вы можете узнать, сколько людей ответили ту форму, которую Вы решите поискать</h4>
	</div>
	<div>
		<label for="number">Сколько таких форм встречается? </label>
		<input name="number" />
	</div>
	<div>
		<button type="submit">SUBMIT</button>
	</div>
</form>
</body>
</html>