<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <title>Тест</title>
	<h1 class="text-center">Тест на знание дореволюционной орфографии</h1>
	<style>
	p {
	text-indent: 20px;
	}
	</style>
</head>
<body>
<div class="container bs-cont">
<blockquote>
  <p class="text-right"><i> Бѣлый, блѣдный, бѣдный бѣсъ убѣжалъ голодный въ лѣсъ...</i></p>
</blockquote>
<br>
<form method="POST">
    <form action="">
    <p><b>1. Жел_зо</b></p>
    <input type="radio" name="1" value="е">Железо<Br>
    <input type="radio" name="1" value="ѣ">Желѣзо<Br>
	<br>
	<p><b>2. Ав_ню</b></p>
    <input type="radio" name="2" value="е">Авеню<Br>
    <input type="radio" name="2" value="ѣ">Авѣню<Br>
	<br>
	<p><b>3. С_веръ</b></p>
    <input type="radio" name="3" value="е">Северъ<Br>
    <input type="radio" name="3" value="ѣ">Сѣверъ<Br>
	<br>
	<p><b>4. П_вунья</b></p>
    <input type="radio" name="4" value="е">Певунья<Br>
    <input type="radio" name="4" value="ѣ">Пѣвунья<Br>
	<br>
	<p><b>5. Р_бёнокъ</b></p>
    <input type="radio" name="5" value="е">Ребёнокъ<Br>
    <input type="radio" name="5" value="ѣ">Рѣбёнокъ<Br>
	<br>
	<p><b>6. М_тка</b></p>
    <input type="radio" name="6" value="е">Метка<Br>
    <input type="radio" name="6" value="ѣ">Мѣтка<Br>
	<br>
	<p><b>7. Л_кторъ</b></p>
    <input type="radio" name="7" value="е">Лекторъ<Br>
    <input type="radio" name="7" value="ѣ">Лѣкторъ<Br>
	<br>
	<p><b>8. М_тла</b></p>
    <input type="radio" name="8" value="е">Метла<Br>
    <input type="radio" name="8" value="ѣ">Мѣтла<Br>
	<br>
	<p><b>9. Р_шать</b></p>
    <input type="radio" name="9" value="е">Решать<Br>
    <input type="radio" name="9" value="ѣ">Рѣшать<Br>
	<br>
	<p><b>10. П_дагогъ</b></p>
    <input type="radio" name="10" value="е">Педагогъ<Br>
    <input type="radio" name="10" value="ѣ">Пѣдагогъ<Br>
	<br>
	<input class="btn btn-primary" type="submit" value="Submit">
</form>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</div>
</body>
</html>